#include "/home/paul/.config/colors"

*background: COLOR_BACKGROUND
*foreground: COLOR_TEXT_NORMAL
*cursorColor: COLOR_TEXT_NORMAL

*color0: COLOR_BACKGROUND
*color1: COLOR_TEXT_ERR
*color2: COLOR_TEXT_WARN
*color3: COLOR_TEXT_NORMAL
*color4: COLOR_BLUE
*color5: COLOR_TEXT_ERR
*color6: COLOR_CYAN
*color7: COLOR_WHITE
*color8: COLOR_BACKGROUND
*color9: COLOR_TEXT_ERR
*color10: COLOR_TEXT_WARN_BRIGHT
*color11: COLOR_TEXT_NORMAL_BRIGHT
*color12: COLOR_BLUE
*color13: COLOR_TEXT_ERR
*color14: COLOR_CYAN
*color15: COLOR_WHITE

URxvt.font: xft:Source Code Pro:size=10.5
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt.geometry: 90x30
URxvt.background: COLOR_BACKGROUND

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

Xft.dpi:220
Xft.autohint:0
Xft.lcdfilter: lcddefault
Xft.hintstyle:hintfull
Xft.hinting:1
Xft.antialias:1
Xft.rgba:rgb
